@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@800&family=Merriweather:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purpleAccent: #310d20;
  --greyAccent: #484848;
  --softerPurple: #5c4444;
  --lighterGreyAccent: #dbdce0;
}
* {
  font-family: Barlow, sans-serif;
}

::selection {
  background-color: var(--purpleAccent);
  color: var(--lighterGreyAccent);
}

div {
  font-family: "Barlow", sans-serif;
}

html {
  overflow-x: hidden;
}
