@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@800&family=Merriweather:wght@300&display=swap");
:root {
  --purpleAccent: #310d20;
  --greyAccent: #484848;
  --softerPurple: #5c4444;
}
