.redeemVoucherContainer::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  margin: 50px;
  padding: 50px;
}

.redeemVoucherContainer::-webkit-scrollbar-track {
  background: transparent;
}

.redeemVoucherContainer::-webkit-scrollbar-thumb {
  background: #310d20;
  border-radius: 25px;
}

.redeemVoucherContainer::-webkit-scrollbar-thumb:hover {
  background: #5c4444;
}
