.chat-parent:has(.chatContainer) {
  display: flex;
}

.chatContainer {
  background-color: #18191a;

}

.chat-window {
  max-height: 86.1vh;
}

.chat-window p {
  margin: 0;
}

.chat-window .chat-header {
  height: 45px;
  /* border-radius: 6px; */
  background: #242526;
  position: relative;
}

.chat-window .chat-header p {
  display: block;
  /* padding: 0 1em 0 2em; */
  color: #e4e6eb;
  /* font-weight: 700; */
  line-height: 45px;
}

.chat-window .chat-body {
  /* max-height: calc(85vh - (45px + 43px)); */
  min-height: calc(55vh - (45px + 43px));
  max-height: calc(85vh - (45px + 43px));
  /* height: 77.7vh; */
  background: #3a3b3c;
  /* position: relative; */
  /* overflow: scroll; */
  /* height: 100%; */
}

.chat-window .chat-body .message-container {
  width: 100%;
  /* height: 100%; */
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: fit-content;
  height: auto;
  min-height: 40px;
  max-width: 400px;
  background-color: #e9e8eb;
  /* border-radius: 8px; */
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.chat-window .chat-body .message .message-content-image {
  width: fit-content;
  height: auto;
  min-height: 100px;
  min-width: fit-content;
  max-width: 400px;
  background-color: #e9e8eb;
  /* border-radius: 8px; */
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
}

#other .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-start;
  color: white;
  background-color: #1982fc;
}

#you .message-content-image {
  justify-content: flex-start;
  color: white;
  background-color: #242526;
}

#you .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  min-height: 60px;
  background-color: #242526;
  display: flex;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-bottom: 0.5em;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1.2em;
  background-color: #242526;
  margin: 0px !important;
  /* border-right: 1px dotted #607d8b; */

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  margin-right: 20px;
  /* flex: 15%; */
  cursor: pointer;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #2a4d58;
}


.hide {
  opacity: 0 !important;
}

.chatSidebar {
  background-color: #18191a !important;
  min-height: calc(55vh - (45px + 43px));
  max-height: calc(95vh - (45px + 43px));
}

.chatSidebar::-webkit-scrollbar-track {
  background: #18191A;
}

.chatSidebar::-webkit-scrollbar {
  width: 2px;
}

.chatSidebar::-webkit-scrollbar-thumb {
  background: rgba(176, 179, 184, 0.3);
  border-radius: 4px;
}

.noChatChosenBody {
  background-color: #3a3b3c;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #3a3b3c;
}

::-webkit-scrollbar-thumb {
  background: #b0b3b8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e4e6eb;
}

.sideBarUser:hover {
  background-color: #404040;
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}