.calendarCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.calendarDateSection {
  width: 100%;
}

.calendarScroll {
  height: 150px;
  white-space: nowrap;
}
